<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Collection and information on the best restaurants that you can visit in various cities in indonesia">
    <title>RestoApps</title>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="shortcut icon" href="./images/restaurant.png" type="image/x-icon" />
    <link rel="manifest" href="./app.webmanifest" />
    <meta name="theme-color" content="hsl(19, 64%, 52%)" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
  </head>
  <body>
    <!-- here -->

    <app-bar></app-bar>

    <main id="main-content" tabindex="0"></main>

    <footer-element></footer-element>
    
    <!-- out -->
  </body>
</html>
