@use '../base/variables' as *;
@use '../utilities/mixin.scss' as *;

.hero__container {
  position: relative;
  color: $title-color;

  .hero__image {
    width: 100%;
    min-height: 480px;
    object-fit: cover;
    background-position: center;
    background-color: green;
  }

  .hero__group {
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    width: 80%;
    margin: 0 auto;
    padding: 1.2em;
    background-color: rgba($color: #000000, $alpha: 0.3);
    border-radius: 0.6rem;

    .hero__heading {
      font-size: $h1-font-size;
      font-weight: $font-semi-bold;
      margin-bottom: 2rem;
    }

    .hero__desc {
      font-size: $normal-font-size;
      font-weight: 400;
      color: #d5d5d5;
      margin-bottom: 1rem;
    }
  }
}

@media (min-width: 625px) {
  .hero__group {
    max-width: 450px;
  }
}

@media (min-width: 968px) {
  .hero__group {
    max-width: 550px;
  }
}

@media (min-width: 1200px) {
  .hero__image {
    min-width: 1000px;
  }
  .hero__group {
    max-width: 600px;
  }
}
